

.carousel-options>#caroussel>li {
    height: 300px;
    width: 300px;
    opacity: 0.8;
    overflow: hidden;
}

.carousel-options>#caroussel>.Main {
    /* Set min to li width and height*/
    min-width: 300px;
    min-height: 300px;
    width: fit-content;
    height: fit-content;
}

.carosel>.carousel-options {
    height: max-content;
    background-color: #010315;
}

.carosel {
    width: 100%;
    background-color: #010315;
    /* IMPORTANT */
    /* MAX HEIGHT OF ANY IMAGE ON THE CAROUSSEL*/
    height: max-content;
}

.carosel>#Btn {
    color: #0CA789;
}

.carosel #Btn:hover {
    color: #034C75;
}

#caroussel
{
    margin-bottom: 0px;
}


/*
Deactivated card
*/
#TEST {
    width: 100%;
    height: 100%;
    z-index: 5;
    aspect-ratio: 1/1;
}

/*
Activated card
*/
.carousel-options>#caroussel>.Main>#TEST>img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

/*BIG CHUNGUS*/
#BIG {
    margin: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}