
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

  /* ------------------------------------------------------------------ */

  
  /* Card */
  .logo {
    max-width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    aspect-ratio: 16/9;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  
  @media screen and (max-width: 900px) {
    .column {
      width: 33.33%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
  
    padding: 0px;
    margin: 0px;
    background-color: rgba(243, 235, 235, 0.415);
    border-radius: 5px;
    margin-top: 20px;
  }
  
  /* Estilo para a barra de jogo */
  .barra-azul {
    border-bottom: #144190 10px solid;
  }
  
  /* Estilo para a barra de comunidade */
  .barra-laranja {
    border-bottom: #F24726 10px solid;
  }
  
  /* -------------------------------------------------------- */
  /* houver */
  
  .card::before,
  .card::after {
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    position: absolute;
    transform-origin: left top;
    transform: scaleX(0);
    transition: all var(--cover-timing) var(--cover-ease);
  }
  
  .card:hover img,
  .card:focus img {
    transform: scale(1.1);
    filter: brightness(0.6); /* Adicionado para escurecer a imagem */
  }
  
  .card:nth-of-type(1) {
    --highlight: coral;
  }
  
  .card:nth-of-type(2) {
    --highlight: #56ffe5;
  }