#chat {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

#btn {
    border: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 40px;
    width: 350px;
    background-color: #09081C;
    color: #ffffff;
    font-size: 25px;
    text-decoration: solid;
    cursor: pointer;
}

#btn-chatAberto {
    background-color: #09081C;
    color: #ffffff;
    font-size: 27px;
    border: 0;
    position: absolute;
    right: 10px;
    bottom: 330px;
    width: 330px;
    cursor: pointer;
}

#search {
    border-radius: 7px;
    position: absolute;
    bottom: 300px;
    width: 325px;
    right: 10px;
    height: 25px;
    background-color: #144190;
    border: 0;
    color: #ffffff;
}

#notification {
    position: absolute;
    bottom: 0px;
    right: 370px;
    width: 15px;
    height: 15px;
}

#user-img {
    position: absolute;
    bottom: 0px;
    right: 370px;
    width: 40px;
    height: 40px;
}

#chat-aberto {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: none;
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 350px;
    height: 370px;
    background-color: #09081C;
    transition: transform 0.3s ease-in-out;
    transform: translateY(200px);
}

#user-imgOpen1 {
    bottom: 240px;
    right: 300px;
    width: 50px;
    height: 50px;
}

#notificationOpen1 {
    position: relative;
    right: 20px;
    width: 20px;
    height: 20px;
}

#linha1 {
    height: 2px;
    background-color: #144190;
    position: relative;
    bottom: 5px;
    left: 23px;
    width: 280px;
    border: none;
}

#userName1 {
    color: #ffffff;
    position: absolute;
    right: 165px;
    bottom: 20px;
}

#lastmassage1 {
    color: #808080;
    position: absolute;
    left: 200px;
    bottom: 5px;
}

#date1 {
    color: #808080;
    position: absolute;
    left: 270px;
    top: 20px;
}

#user-imgOpen2 {
    bottom: 240px;
    right: 300px;
    width: 50px;
    height: 50px;
}

#linha2 {
    height: 2px;
    background-color: #144190;
    position: relative;
    bottom: 5px;
    left: 23px;
    width: 280px;
    border: none;
}

#userName2 {
    color: #ffffff;
    position: absolute;
    right: 165px;
    bottom: 20px;
}

#lastmassage2 {
    color: #808080;
    position: absolute;
    left: 200px;
    bottom: 5px;
}

#date2 {
    color: #808080;
    position: absolute;
    left: 270px;
    top: 20px;
}

#chat-aberto.active {
    display: block;
    transform: translateY(0px);
}

#chat-aberto.disabled {
    display: none;
    transform: translateY(0px);
}

#contact {
    position: absolute;
    right: 10px;
    bottom: 230px;
    width: 330px;
    height: 60px;
}

#contact:hover {
    border-radius: 5px;
    background-color: #04030c;
}

#contact2 {
    position: absolute;
    right: 10px;
    bottom: 150px;
    width: 330px;
    height: 60px;
}

#contact2:hover {
    border-radius: 5px;
    background-color: #04030c;
}

#contato-aberto {
    display: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 350px;
    height: 370px;
    background-color: #09081C;
    transition: transform 0.3s ease-in-out;
    transform: translateY(200px);
}

#contato-aberto.active {
    display: block;
    transform: translateY(0px);
}

#contato-aberto.disabled {
    display: none;
    transform: translateY(0px);
}

#user-imgContact {
    position: absolute;
    bottom: 290px;
    right: 270px;
    width: 70px;
    height: 70px;
}

#usernameContact {
    color: #ffffff;
    position: absolute;
    right: 130px;
    bottom: 310px;
    font-size: 20px;
}

#btnVoltar {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: #ffffff;
    background-color: #09081C;
    border-radius: 10px;
    cursor: pointer;
    border-color: #144190;
}

#tela {
    position: absolute;
    top: 100px;
    left: 7px;
    width: 335px;
    height: 265px;
    background-color: #aaa9a9;
}

#linha-tela {
    height: 3px;
    background-color: #144190;
    position: relative;
    bottom: 8px;
    left: 0px;
    width: 335px;
    border: none;
}

#search-tela {
    color: #ffffff;
    position: relative;
    height: 30px;
    width: 331px;
    top: 215px;
    border: 0;
    background-color: #144190;
}

#mensagem {
    color: #ffffff;
    width: fit-content;
    position: relative;
    right: 0px;
    bottom: 50px;
    float: right;
}

.p-mensagem{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #144190;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
